--index-url=https://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
requests[socks]==2.21.0
lxml==4.6.3
pymongo==3.9.0
jsonpath==0.81
retry==0.9.2
tenacity==5.0.3
absl-py
pysocks==1.7.1